body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    animation: animateTitle 2s linear;
}

@keyframes animateTitle {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.player-container,
.computer-container {
    width: 50%;
}

.hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
}

.hand img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.hand .caption {
    color: #333;
    font-size: 20px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hand:hover img {
    transform: scale(1.1);
}

.hand:hover .caption {
    opacity: 1;
}

.slot-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  
  .slot-machine img {
    width: 100%;
    height: auto;
  }

.message {
    margin: 10px;
    font-size: 25px;
}

.hand:hover .caption {
    opacity: 1;
}

.message {
    margin: 5px;
    font-size: 3em;
}